---
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Blog">
    <ul>
        <li><a href="/brylie.online/posts/post-1/">Post 1</a></li>
    </ul>
</BaseLayout>
