---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Welcome!";
---

<BaseLayout pageTitle={pageTitle}>
	<p>
		Welcome to the personal website of Brylie Christopher Oxley – a
		passionate software developer, writer, and musician. Here you'll find
		insights into innovative projects, creative coding explorations, and the
		journey of blending technology with art.
	</p>
</BaseLayout>
