---
import Social from "./Social.astro";
import License from "./License.astro";
---

<footer>
    <p>I'm also on the following platforms.</p>
    <Social platform="github" username="brylie" />
    <Social platform="youtube" username="brylie" />
    <License />
</footer>
