---
const siteRoot = "/brylie.online";
---

<div class="nav-links">
    <a href={`${siteRoot}/`}>Home</a>
    <a href={`${siteRoot}/about/`}>About</a>
    <a href={`${siteRoot}/blog/`}>Blog</a>
</div>
